html,body{
    height: 100%;
    background-color: #F9F7F7;
    color:#112D4E;

}
*::selection{
    background-color:#3F72AF;
}
h1{
    z-index: 3;
    font-family: 'pacifico';
}
h1::after{
    content: "";
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #3f71afa8;
    z-index: -1;
    transition: all .5s;
}
h1:hover::after{
    height: 60%;
}

.input .title{
    background: linear-gradient(to left, #3f71afda, #112D4E);
    background-clip: text;
    color : transparent;
    font-family: 'pacifico';
}

.input .title h2 ,th{
    white-space: nowrap;
}

input{
    border:#3F72AF solid 1px;

}

input:focus{
    box-shadow: 0 0 5px #3F72AF;
    outline: none;
    transition: all .5s;
}
.invalid:focus{
    box-shadow: 0 0 5px red;
    outline: none;
    transition: all .5s;
}
.result table thead th{
    color:#112D4E;
    background-color: transparent;

}
.result table tbody tr td{
    color:#3F72AF;
    background-color: transparent;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.result table tbody tr:nth-child(odd){
    background-color: #fefefe;
}

.form-control.is-valid,.form-control.is-valid:focus{
    border-color: #3F72AF;
    box-shadow:0 0 10px #3F72AF;
}

@media (max-width: 768px) {
    .button{
        flex-direction: column;
        row-gap: 20px;
    }
    .clear{
        width: 50%;
    }
}

